/*=========================================================================================
  File Name: main.scss
  Description: Main scss file. Imports other scss partials from 'vuexy' folder
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/

@import "vuexy/variables";

@import "vuexy/layout";
@import "vuexy/typography";
@import "vuexy/misc";
@import "vuexy/extraComponents";
@import "vuexy/themes";
@import "vuexy/transitions";

@import "vuexy/customClasses";

// Vuesax fixes and enhancments
@import "vuexy/fixesVuesax";

// Tailwind Fixes
@import "vuexy/tailwindFix";

// rtl
@import "vuexy/rtl";

.con-pagination-table{
  display: none !important;
}

.con-vs-popup{
  z-index: 51001 !important;
}

.con-vs-dropdown--menu{
  z-index: 60000 !important;
}

.vs-tooltip {
  z-index: 60001 !important;
}


.vs-table--tbody{
  z-index: 1!important;
}



// .sfp-staff-collapse-content {
//   height: 5em !important;
//   .v-select {
//     ul{
//       max-height: 80px !important;
//       overflow-y: scroll !important;
//     }
//   }
// }

.sfp-staff-filter{
  .vs-collapse{
    padding: 0%;
    .vs-collapse-item{
      padding: 0%;
      .vs-collapse-item--header{
        padding: 0%;
      }
    }
  }

}

.sfp-staff-collapse-filter{
  box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
  padding: 1%;
  background: white!important;
}

.vs-collapse-item--icon-header{
  padding-right: 1%;
}
@media only screen and (max-width: 600px) {
  .sfp-staff-form-btn-buttom {
    margin-left: 0px!important; margin-top: 19px!important;
  }
}


@media screen and (min-width: 320px) and (max-width: 350px){
  .sfp-staff-content {
    padding: 1rem !important;
  }
  .sfp-staff-btn-action-grp{
    .sfp-staff-btn-action{
      margin: 0px !important;
      padding: 10px 0px;
    }
  }


}
@media screen and (min-width: 350px) and (max-width: 500px){
  .sfp-staff-content {
    padding: 1rem !important;
  }
  .sfp-staff-btn-action-grp{
    .sfp-staff-btn-action{
      margin: 0px !important;
      padding: 10px 0px;
    }
  }


}


@media screen and (min-width: 1200px){
  .sfp-staff-content {
    padding: 2rem !important;
  }
  .sfp-staff-dropdown {
    width: 13% !important;
  }
}
@media screen and (min-width: 1600px){
  .sfp-staff-content {
    padding: 2rem !important;
  }
  .sfp-staff-dropdown {
    width: 13% !important;
  }
}
.ql-picker-label{
  width: max-content !important;
  padding-right: 30px !important;
}
.vx-card{
  .vx-card__header{
    .vx-card__title{
      h4{
        font-size: 25.48px;
        font-weight: bolder;
        margin-bottom: 10px !important;
      }
    }
  }
  .vx-card__body {
    padding: 0px 20px 15px 20px !important;
  }
}