<template>
  <div>
    <vx-card title="Les employé(e)s" class="mb-4">
      <div slot="no-body">
        <div>
          <div class="p-8 pb-2">
            <vs-collapse>
              <vs-collapse-item class="sfp-staff-collapse-item">
                <div slot="header">
                  <div class="sfp-staff-collapse-filter">Filtrage</div>
                </div>
                <div class="p-2">
                  <vs-row vs-w="12" vs-align="center">
                    <vs-col
                      class="pr-2"
                      vs-type="flex"
                      vs-justify="center"
                      vs-align="center"
                      vs-lg="6"
                      vs-sm="6"
                      vs-xs="12"
                    >
                      <span class="pl-1 pr-1">Du</span>
                      <div
                        class="inputx w-full flex justify-around"
                        style="align-items: center"
                      >
                        <vs-input
                          v-model="startDate"
                          type="date"
                          class="sfp-staff-disable-input-date inputx w-full mb-2 mt-2"
                        />
                      </div>
                    </vs-col>
                    <vs-col
                      class="pr-2"
                      vs-type="flex"
                      vs-justify="center"
                      vs-align="center"
                      vs-lg="6"
                      vs-sm="6"
                      vs-xs="12"
                    >
                      <span class="pl-1 pr-1">au </span>
                      <div
                        class="inputx w-full flex justify-around"
                        style="align-items: center"
                      >
                        <vs-input
                          type="date"
                          v-model="endDate"
                          :min="startDate"
                          class="sfp-staff-disable-input-date inputx w-full mb-2 mt-2"
                        />
                      </div>
                    </vs-col>
                  </vs-row>
                  <vs-row vs-w="12" vs-align="center" vs-justify="center">
                    <vs-col
                      class="pt-4 pb-2"
                      vs-type="flex"
                      vs-align="center"
                      vs-justify="center"
                      vs-lg="4"
                      vs-sm="4"
                      vs-xs="12"
                    >
                      <vs-button @click="resetFilter">
                        Réinitialiser
                      </vs-button>
                    </vs-col>
                  </vs-row>
                </div>
              </vs-collapse-item>
            </vs-collapse>
          </div>
          <div class="sfp-staff-content">
            <div>
              <vs-prompt
                title="Exportation"
                class="export-options"
                @cancel="clearFields"
                @accept="exportToData"
                accept-text="Valider"
                cancel-text="Annuler"
                @close="clearFields"
                :active.sync="activePrompt"
              >
                <vs-input
                  v-model="fileName"
                  placeholder="Entrez le nom du fichier..."
                  class="w-full"
                />
                <multiselect
                  v-model="selectedFormat"
                  :options="formats"
                  class="my-4"
                  placeholder="--Choisir--"
                  :selectLabel="global.selectLabel"
                  :selectedLabel="global.selectedLabel"
                  :deselectLabel="global.deselectLabel"
                >
                  <template v-slot:noOptions>
                    <span>{{ global.selectNotFoundData }}</span>
                  </template>
                </multiselect>

                <div class="flex">
                  <span class="mr-4">Largeur automatique de cellule:</span>
                  <vs-switch v-model="cellAutoWidth"
                    >Largeur automatique de cellule</vs-switch
                  >
                </div>
              </vs-prompt>
              <div
                class="flex flex-wrap data-list-btn-container sfp-staff-btn-action-grp"
              >
                <div class="sfp-staff-btn-action">
                  <vs-button
                    v-if="
                      user.person.userAcces
                        ? user.person.userAcces.chk_worker_create
                        : true
                    "
                    @click="popupAddWorkerActive = true"
                    color="primary"
                    type="filled"
                    icon-pack="feather"
                    icon="icon-plus"
                    >Ajouter</vs-button
                  >
                  <vx-tooltip
                    color="primary"
                    :title="role.notAllowTitle"
                    :text="role.notAllowText"
                    v-else
                  >
                    <vs-button
                      :disabled="true"
                      color="primary"
                      type="filled"
                      icon-pack="feather"
                      icon="icon-plus"
                      >Ajouter</vs-button
                    >
                  </vx-tooltip>
                </div>
                <div class="sfp-staff-btn-action">
                  <vs-dropdown
                    vs-trigger-click
                    class="dd-actions cursor-pointer ml-4"
                  >
                    <div
                      class="p-3 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full"
                    >
                      <span class="mr-2">Actions</span>
                      <feather-icon
                        icon="ChevronDownIcon"
                        svgClasses="h-4 w-4"
                      />
                    </div>
                    <vs-dropdown-menu>
                      <vs-dropdown-item @click="activePrompt = true">
                        <span class="flex items-center">
                          <feather-icon
                            icon="PrinterIcon"
                            svgClasses="h-4 w-4"
                            class="mr-2"
                          />
                          <span>Exporter</span>
                        </span>
                      </vs-dropdown-item>
                      <vs-dropdown-item
                        v-if="
                          user.person.userAcces
                            ? user.person.userAcces.chk_worker_delete
                            : true
                        "
                        :disabled="workerSelected.length == 0"
                        @click="checkRemoveMultipleWorker"
                      >
                        <span class="flex items-center">
                          <feather-icon
                            icon="Trash2Icon"
                            svgClasses="h-4 w-4"
                            class="mr-2"
                          />
                          <span>Supprimer la sélection</span>
                        </span>
                      </vs-dropdown-item>
                      <vx-tooltip
                        color="primary"
                        :title="role.notAllowTitle"
                        :text="role.notAllowText"
                        v-else
                      >
                        <vs-dropdown-item :disabled="true">
                          <span class="flex items-center">
                            <feather-icon
                              icon="Trash2Icon"
                              svgClasses="h-4 w-4"
                              class="mr-2"
                            />
                            <span>Supprimer la sélection</span>
                          </span>
                        </vs-dropdown-item>
                      </vx-tooltip>
                    </vs-dropdown-menu>
                  </vs-dropdown>
                </div>
                <div class="ml-4 sfp-staff-btn-action">
                  <div>
                    <vs-dropdown
                      vs-trigger-click
                      class="dd-actions cursor-pointer"
                    >
                      <div
                        class="p-3 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full"
                      >
                        <span class="mr-2">Afficher {{ limit }}</span>
                        <feather-icon
                          icon="ChevronDownIcon"
                          svgClasses="h-4 w-4"
                        />
                      </div>
                      <vs-dropdown-menu>
                        <vs-dropdown-item
                          :key="i"
                          v-for="(r, i) in rowsTable"
                          @click="limit = r"
                        >
                          <span class="flex items-center">
                            <span>{{ r }}</span>
                          </span>
                        </vs-dropdown-item>
                      </vs-dropdown-menu>
                    </vs-dropdown>
                  </div>
                </div>
              </div>
              <div class>
                <div class="w-auto" v-if="loading">
                  <clip-loader :loading="loading" color="primary"></clip-loader>
                </div>
                <div v-else>
                  <div v-if="allWorkers.list.length !== 0">
                    <vs-table
                      multiple
                      :data="allWorkers.list"
                      v-model="workerSelected"
                      search
                      stripe
                      pagination
                      :max-items="limit == 'Tout' ? total : limit"
                      noDataText="Aucun résultat trouvé"
                    >
                      <template slot="thead">
                        <vs-th>N°</vs-th>
                        <vs-th sort-key="firstname">Nom</vs-th>
                        <vs-th sort-key="lastname">Prénom(s)</vs-th>
                        <vs-th sort-key="company">Filiale</vs-th>
                        <vs-th sort-key="children">Enfant(s)</vs-th>
                        <vs-th sort-key="cnss">CNSS</vs-th>
                        <vs-th sort-key="phone">Téléphone</vs-th>
                        <vs-th sort-key="email">Email</vs-th>
                        <vs-th>Actions</vs-th>
                      </template>
                      <template slot-scope="{ data }">
                        <vs-tr
                          :data="tr"
                          :key="indextr"
                          v-for="(tr, indextr) in data"
                        >
                          <vs-td :data="data[indextr].id">{{
                            indextr + 1
                          }}</vs-td>
                          <vs-td :data="data[indextr].firstname">{{
                            data[indextr].firstname
                          }}</vs-td>
                          <vs-td :data="data[indextr].lastname">{{
                            data[indextr].lastname
                          }}</vs-td>
                          <vs-td :data="data[indextr].company.name">{{
                            data[indextr].company.name
                          }}</vs-td>
                          <vs-td :data="data[indextr].children">{{
                            data[indextr].children.length
                          }}</vs-td>
                          <vs-td :data="data[indextr].cnss">{{
                            data[indextr].cnss
                          }}</vs-td>
                          <vs-td :data="data[indextr].phone">{{
                            data[indextr].phone
                          }}</vs-td>
                          <vs-td :data="data[indextr].email">{{
                            data[indextr].email
                          }}</vs-td>
                          <vs-td :data="data[indextr].id">
                            <div class="inline-flex" @click.stop>
                              <vs-dropdown
                                class="dd-actions cursor-pointer ml-6"
                                vs-trigger-click
                              >
                                <div class="cursor-pointer">
                                  <feather-icon
                                    icon="AlignJustifyIcon"
                                    svgClasses="w-6 h-6"
                                  ></feather-icon>
                                </div>
                                <vs-dropdown-menu class="sfp-staff-dropdown">
                                  <div>
                                    <vs-dropdown-item
                                      v-if="
                                        user.person.userAcces
                                          ? user.person.userAcces
                                              .chk_worker_update
                                          : true
                                      "
                                    >
                                      <div
                                        class="ml-1 cursor-pointer"
                                        @click="
                                          checkUpdateWorker(data[indextr])
                                        "
                                      >
                                        <span class="flex items-center">
                                          <feather-icon
                                            class="text-primary"
                                            icon="Edit2Icon"
                                            svgClasses="w-6 h-6"
                                          ></feather-icon>
                                          <span class="m-3">Modifier</span>
                                        </span>
                                      </div>
                                    </vs-dropdown-item>
                                    <vx-tooltip
                                      v-else
                                      color="primary"
                                      :title="role.notAllowTitle"
                                      :text="role.notAllowText"
                                    >
                                      <vs-dropdown-item disabled>
                                        <div class="ml-1 cursor-pointer">
                                          <span class="flex items-center">
                                            <feather-icon
                                              class="text-primary"
                                              icon="Edit2Icon"
                                              svgClasses="w-6 h-6"
                                            ></feather-icon>
                                            <span>Modifier</span>
                                          </span>
                                        </div>
                                      </vs-dropdown-item>
                                    </vx-tooltip>
                                  </div>

                                  <div>
                                    <vs-dropdown-item
                                      v-if="
                                        user.person.userAcces
                                          ? user.person.userAcces
                                              .chk_worker_delete
                                          : true
                                      "
                                    >
                                      <div
                                        class="ml-1 cursor-pointer"
                                        @click="
                                          checkRemoveWorker(data[indextr])
                                        "
                                      >
                                        <span class="flex items-center">
                                          <feather-icon
                                            icon="Trash2Icon"
                                            class="text-primary"
                                            svgClasses="w-6 h-6"
                                          ></feather-icon>
                                          <span class="m-3">Supprimer </span>
                                        </span>
                                      </div>
                                    </vs-dropdown-item>
                                    <vx-tooltip
                                      v-else
                                      color="primary"
                                      :title="role.notAllowTitle"
                                      :text="role.notAllowText"
                                    >
                                      <vs-dropdown-item disabled>
                                        <div class="ml-1 cursor-pointer">
                                          <span class="flex items-center">
                                            <feather-icon
                                              icon="Trash2Icon"
                                              class="text-primary"
                                              svgClasses="w-6 h-6"
                                            ></feather-icon>
                                            <span class="m-3">Supprimer </span>
                                          </span>
                                        </div>
                                      </vs-dropdown-item>
                                    </vx-tooltip>
                                  </div>
                                </vs-dropdown-menu>
                              </vs-dropdown>

                              <vx-tooltip
                                position="left"
                                color="primary"
                                :title="aboutElement(data[indextr]).title"
                                :text="aboutElement(data[indextr]).text"
                              >
                                <div class="cursor-pointer ml-6">
                                  <feather-icon
                                    icon="InfoIcon"
                                    class="text-primary"
                                    svgClasses="w-6 h-6"
                                  ></feather-icon>
                                </div>
                              </vx-tooltip>

                              <div
                                class="ml-2"
                                v-show="woIsAction == data[indextr].id"
                              >
                                <clip-loader
                                  :loading="
                                    loadingRemoveWorker || loadingUpdateWorker
                                  "
                                  color="primary"
                                  size="25px"
                                ></clip-loader>
                              </div>
                            </div>
                          </vs-td>
                        </vs-tr>
                      </template>
                    </vs-table>
                    <vs-pagination
                      style="justify-content: flex-end !important"
                      class="mt-6 sfp-staff-pagination"
                      :total="allPages"
                      v-model="currentPage"
                    ></vs-pagination>
                  </div>
                  <div v-else>
                    <div class="flex items-center justify-center mt-8">
                      <strong>Aucun enregistrement</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <vs-popup
              class="holamundo"
              title="Ajouter un(e) employé(e)"
              :active.sync="popupAddWorkerActive"
              fullscreen
            >
              <div class="m-4">
                <div class="clearfix">
                  <div>
                    <vs-row vs-w="12">
                      <vs-col
                        class="pr-4 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <span class="pl-2">Civilité*</span>
                          <multiselect
                            v-model="form.civility"
                            :options="civilityList"
                            placeholder="--Choisir--"
                            label="label"
                            track-by="label"
                            v-validate="'required'"
                            name="Civilité"
                            required
                            :selectLabel="global.selectLabel"
                            :selectedLabel="global.selectedLabel"
                            :deselectLabel="global.deselectLabel"
                          >
                            <template v-slot:noOptions>
                              <span>{{ global.selectNotFoundData }}</span>
                            </template>
                          </multiselect>

                          <div class="sfp-staff-error-msg">
                            {{ errors.first("Civilité") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer le nom"
                            label="Nom*"
                            v-model="form.lastname"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="nom"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("nom") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2 mb-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer le prénom(s)"
                            label="Prénom(s)*"
                            v-model="form.firstname"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="prénom"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("prénom") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mb-2 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            type="date"
                            class="inputx w-full"
                            label="Date de naissance (jj/mm/aaaa)*"
                            v-model="form.birthday"
                            v-validate="'required'"
                            data-vv-validate-on="blur"
                            name="date de naissance"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("date de naissance") }}
                          </div>
                        </div>
                      </vs-col>
                    </vs-row>
                    <vs-row vs-w="12">
                      <vs-col
                        class="pr-4 mt-2 mb-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer le lieu de naissance"
                            label="Lieu de naissance*"
                            v-model="form.placeOfBithday"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="lieu de naissance"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("lieu de naissance") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer l'adresse"
                            label="Adresse*"
                            v-model="form.adress"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="adresse"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("adresse") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2 mb-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer votre email"
                            label="Email*"
                            v-model="form.email"
                            v-validate="'required|email'"
                            data-vv-validate-on="blur"
                            type="email"
                            name="email"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("email") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer le téléphone"
                            label="Téléphone*"
                            v-model="form.phone"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="téléphone"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("téléphone") }}
                          </div>
                        </div>
                      </vs-col>
                    </vs-row>
                    <vs-row vs-w="12">
                      <vs-col
                        class="pr-4 mt-2 mb-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer la nationalité"
                            label="Nationalité*"
                            v-model="form.nationality"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="nationalité"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("nationalité") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            type="number"
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer le code CNSS"
                            label="Code CNSS*"
                            v-model="form.cnss"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="cnss"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("cnss") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2 mb-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer les langues(s)"
                            label="Langues(s)*"
                            v-model="form.languages"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="langues"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("langues") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <span class="pl-2">Pièce d’identité*</span>
                          <multiselect
                            v-model="form.identity.id"
                            :options="identityList"
                            placeholder="--Choisir--"
                            label="label"
                            track-by="label"
                            v-validate="'required'"
                            name="Pièce d’identité"
                            required
                            :selectLabel="global.selectLabel"
                            :selectedLabel="global.selectedLabel"
                            :deselectLabel="global.deselectLabel"
                          >
                            <template v-slot:noOptions>
                              <span>{{ global.selectNotFoundData }}</span>
                            </template>
                          </multiselect>

                          <div class="sfp-staff-error-msg">
                            {{ errors.first("Pièce d’identité") }}
                          </div>
                        </div>
                      </vs-col>
                    </vs-row>
                    <vs-row vs-w="12">
                      <vs-col
                        class="pr-4 mt-2 mb-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            type="number"
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer le N° pièce d’identité"
                            label="N° pièce d’identité*"
                            v-model="form.identity.numIdentity"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="N° pièce d’identité"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("N° pièce d’identité") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <span class="pl-2">Filiale*</span>
                          <multiselect
                            v-model="form.company"
                            :options="companiesList"
                            placeholder="--Choisir--"
                            label="label"
                            track-by="label"
                            v-validate="'required'"
                            name="Filiale"
                            required
                            :selectLabel="global.selectLabel"
                            :selectedLabel="global.selectedLabel"
                            :deselectLabel="global.deselectLabel"
                          >
                            <template v-slot:noOptions>
                              <span>{{ global.selectNotFoundData }}</span>
                            </template>
                          </multiselect>

                          <div class="sfp-staff-error-msg">
                            {{ errors.first("Filiale") }}
                          </div>
                        </div>
                      </vs-col>
                    </vs-row>
                    <div class="mt-8">
                      <div class="uk-text-center">
                        <h2>Enfant(s)</h2>
                      </div>
                      <vs-row vs-w="12">
                        <vs-col
                          class="pr-4 mt-2 mb-2"
                          vs-type="flex"
                          vs-justify="lef"
                          vs-align="lef"
                          vs-lg="3"
                          vs-sm="3"
                          vs-xs="12"
                        >
                          <div>
                            <div class="w-full">
                              <vs-input
                                class="inputx w-full mb-2 mt-2"
                                label="Nombre d'enfants"
                                v-model="nbrChild"
                                type="number"
                                min="0"
                                v-validate="'required'"
                                data-vv-validate-on="blur"
                              />
                            </div>
                          </div>
                        </vs-col>
                      </vs-row>
                      <vs-collapse v-if="nbrChild">
                        <vs-collapse-item
                          v-for="(currentChild, i) in children"
                          :key="i"
                          class="sfp-staff-collapse-item mb-4"
                        >
                          <div slot="header">
                            <div class="sfp-staff-collapse-filter">
                              Enfant {{ i + 1 }}
                            </div>
                          </div>
                          <div class="p-2">
                            <vs-row vs-w="12">
                              <vs-col
                                class="pr-4 mt-2"
                                vs-type="flex"
                                vs-justify="center"
                                vs-align="center"
                                vs-lg="3"
                                vs-sm="3"
                                vs-xs="12"
                              >
                                <div class="w-full">
                                  <span class="pl-2">Civilité*</span>
                                  <multiselect
                                    v-model="currentChild.civility"
                                    :options="civilityList"
                                    placeholder="--Choisir--"
                                    label="label"
                                    track-by="label"
                                    v-validate="'required'"
                                    :name="'civilité' + i"
                                    required
                                    :selectLabel="global.selectLabel"
                                    :selectedLabel="global.selectedLabel"
                                    :deselectLabel="global.deselectLabel"
                                  >
                                    <template v-slot:noOptions>
                                      <span>{{
                                        global.selectNotFoundData
                                      }}</span>
                                    </template>
                                  </multiselect>

                                  <div class="sfp-staff-error-msg">
                                    {{ errors.first("civilité" + i) }}
                                  </div>
                                </div>
                              </vs-col>
                              <vs-col
                                class="pr-4 mt-2"
                                vs-type="flex"
                                vs-justify="center"
                                vs-align="center"
                                vs-lg="3"
                                vs-sm="3"
                                vs-xs="12"
                              >
                                <div class="w-full">
                                  <vs-input
                                    class="inputx w-full mb-2 mt-2"
                                    placeholder="Entrer le nom"
                                    label="Nom*"
                                    v-model="currentChild.lastname"
                                    v-validate="'required|min:3'"
                                    data-vv-validate-on="blur"
                                    :name="'nom' + i"
                                  />
                                  <div class="sfp-staff-error-msg">
                                    {{ errors.first("nom" + i) }}
                                  </div>
                                </div>
                              </vs-col>
                              <vs-col
                                class="pr-4 mt-2 mb-2"
                                vs-type="flex"
                                vs-justify="center"
                                vs-align="center"
                                vs-lg="3"
                                vs-sm="3"
                                vs-xs="12"
                              >
                                <div class="w-full">
                                  <vs-input
                                    class="inputx w-full mb-2 mt-2"
                                    placeholder="Entrer le prénom(s)"
                                    label="Prénom(s)*"
                                    v-model="currentChild.firstname"
                                    v-validate="'required|min:3'"
                                    data-vv-validate-on="blur"
                                    :name="'prénom' + i"
                                  />
                                  <div class="sfp-staff-error-msg">
                                    {{ errors.first("prénom" + i) }}
                                  </div>
                                </div>
                              </vs-col>
                              <vs-col
                                class="pr-4 mb-2 mt-2"
                                vs-type="flex"
                                vs-justify="center"
                                vs-align="center"
                                vs-lg="3"
                                vs-sm="3"
                                vs-xs="12"
                              >
                                <div class="w-full">
                                  <vs-input
                                    type="date"
                                    class="inputx w-full"
                                    label="Date de naissance (jj/mm/aaaa)*"
                                    v-model="currentChild.birthday"
                                    v-validate="'required'"
                                    data-vv-validate-on="blur"
                                    :name="'date de naissance' + i"
                                  />
                                  <div class="sfp-staff-error-msg">
                                    {{ errors.first("date de naissance" + i) }}
                                  </div>
                                </div>
                              </vs-col>
                            </vs-row>
                            <vs-row vs-w="12">
                              <vs-col
                                class="pr-4 mt-2 mb-2"
                                vs-type="flex"
                                vs-justify="center"
                                vs-align="center"
                                vs-lg="3"
                                vs-sm="3"
                                vs-xs="12"
                              >
                                <div class="w-full">
                                  <vs-input
                                    class="inputx w-full mb-2 mt-2"
                                    placeholder="Entrer le lieu de naissance"
                                    label="Lieu de naissance*"
                                    v-model="currentChild.placeOfBithday"
                                    v-validate="'required|min:3'"
                                    data-vv-validate-on="blur"
                                    :name="'lieu de naissance' + i"
                                  />
                                  <div class="sfp-staff-error-msg">
                                    {{ errors.first("lieu de naissance" + i) }}
                                  </div>
                                </div>
                              </vs-col>
                              <vs-col
                                class="pr-4 mt-2 mb-2"
                                vs-type="flex"
                                vs-justify="center"
                                vs-align="center"
                                vs-lg="3"
                                vs-sm="3"
                                vs-xs="12"
                              >
                                <div class="w-full">
                                  <vs-input
                                    class="inputx w-full mb-2 mt-2"
                                    placeholder="Entrer la nationalité"
                                    label="Nationalité*"
                                    v-model="currentChild.nationality"
                                    v-validate="'required|min:3'"
                                    data-vv-validate-on="blur"
                                    :name="'nationalité' + i"
                                  />
                                  <div class="sfp-staff-error-msg">
                                    {{ errors.first("nationalité" + i) }}
                                  </div>
                                </div>
                              </vs-col>
                            </vs-row>
                            <div class="uk-text-right">
                              <vs-button
                                class="w-full sm:w-auto mt-4"
                                style="background: #ea5455 !important"
                                @click="childRemove(i)"
                              >
                                Supprimer
                              </vs-button>
                            </div>
                          </div>
                        </vs-collapse-item>
                      </vs-collapse>
                    </div>
                  </div>
                </div>
                <div class="mt-8">
                  <div class="inline-flex">
                    <div>
                      <vs-button
                        class="w-full sm:w-auto mr-4"
                        :disabled="!validateFormAddWorker || loadingAddWorker"
                        @click="fetchApplyAddWorker"
                        >Valider</vs-button
                      >
                      <vs-button
                        class="w-full sm:w-auto sfp-staff-form-btn-buttom"
                        type="border"
                        @click="popupAddWorkerActive = false"
                        >Annuler</vs-button
                      >
                    </div>
                    <div class="ml-2">
                      <clip-loader
                        :loading="loadingAddWorker"
                        color="primary"
                      ></clip-loader>
                    </div>
                  </div>
                  <div class="mt-6">
                    <p class="text-danger">* Champ obligatoire</p>
                  </div>
                </div>
              </div>
            </vs-popup>

            <vs-popup
              class="holamundo"
              title="Modifier un(e) employé(e)"
              :active.sync="popupUpdateWorkerActive"
              fullscreen
            >
              <div class="m-4">
                <div class="clearfix">
                  <div>
                    <vs-row vs-w="12">
                      <vs-col
                        class="pr-4 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <span class="pl-2">Civilité*</span>
                          <multiselect
                            v-model="formUpdated.civility"
                            :options="civilityList"
                            placeholder="--Choisir--"
                            label="label"
                            track-by="label"
                            v-validate="'required'"
                            name="Civilité"
                            required
                            :selectLabel="global.selectLabel"
                            :selectedLabel="global.selectedLabel"
                            :deselectLabel="global.deselectLabel"
                          >
                            <template v-slot:noOptions>
                              <span>{{ global.selectNotFoundData }}</span>
                            </template>
                          </multiselect>

                          <div class="sfp-staff-error-msg">
                            {{ errors.first("Civilité") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer le nom"
                            label="Nom*"
                            v-model="formUpdated.lastname"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="nom"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("nom") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2 mb-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer le prénom(s)"
                            label="Prénom(s)*"
                            v-model="formUpdated.firstname"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="prénom"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("prénom") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mb-2 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            type="date"
                            class="inputx w-full"
                            label="Date de naissance (jj/mm/aaaa)*"
                            v-model="formUpdated.birthday"
                            v-validate="'required'"
                            data-vv-validate-on="blur"
                            name="date de naissance"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("date de naissance") }}
                          </div>
                        </div>
                      </vs-col>
                    </vs-row>
                    <vs-row vs-w="12">
                      <vs-col
                        class="pr-4 mt-2 mb-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer le lieu de naissance"
                            label="Lieu de naissance*"
                            v-model="formUpdated.placeOfBithday"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="lieu de naissance"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("lieu de naissance") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer l'adresse"
                            label="Adresse*"
                            v-model="formUpdated.adress"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="adresse"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("adresse") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2 mb-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer votre email"
                            label="Email*"
                            v-model="formUpdated.email"
                            v-validate="'required|email'"
                            data-vv-validate-on="blur"
                            type="email"
                            name="email"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("email") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer le téléphone"
                            label="Téléphone*"
                            v-model="formUpdated.phone"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="téléphone"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("téléphone") }}
                          </div>
                        </div>
                      </vs-col>
                    </vs-row>
                    <vs-row vs-w="12">
                      <vs-col
                        class="pr-4 mt-2 mb-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer la nationalité"
                            label="Nationalité*"
                            v-model="formUpdated.nationality"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="nationalité"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("nationalité") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            type="number"
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer le code CNSS"
                            label="Code CNSS*"
                            v-model="formUpdated.cnss"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="cnss"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("cnss") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2 mb-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer les langues(s)"
                            label="Langues(s)*"
                            v-model="formUpdated.languages"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="langues"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("langues") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <span class="pl-2">Pièce d’identité*</span>
                          <multiselect
                            v-model="formUpdated.identity.id"
                            :options="identityList"
                            placeholder="--Choisir--"
                            label="label"
                            track-by="label"
                            v-validate="'required'"
                            name="Pièce d’identité"
                            required
                            :selectLabel="global.selectLabel"
                            :selectedLabel="global.selectedLabel"
                            :deselectLabel="global.deselectLabel"
                          >
                            <template v-slot:noOptions>
                              <span>{{ global.selectNotFoundData }}</span>
                            </template>
                          </multiselect>

                          <div class="sfp-staff-error-msg">
                            {{ errors.first("Pièce d’identité") }}
                          </div>
                        </div>
                      </vs-col>
                    </vs-row>
                    <vs-row vs-w="12">
                      <vs-col
                        class="pr-4 mt-2 mb-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            type="number"
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer le N° pièce d’identité"
                            label="N° pièce d’identité*"
                            v-model="formUpdated.identity.numIdentity"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="N° pièce d’identité"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("N° pièce d’identité") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="3"
                        vs-sm="3"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <span class="pl-2">Filiale*</span>
                          <multiselect
                            v-model="formUpdated.company"
                            :options="companiesList"
                            placeholder="--Choisir--"
                            label="label"
                            track-by="label"
                            v-validate="'required'"
                            name="Filiale"
                            required
                            :selectLabel="global.selectLabel"
                            :selectedLabel="global.selectedLabel"
                            :deselectLabel="global.deselectLabel"
                          >
                            <template v-slot:noOptions>
                              <span>{{ global.selectNotFoundData }}</span>
                            </template>
                          </multiselect>

                          <div class="sfp-staff-error-msg">
                            {{ errors.first("Filiale") }}
                          </div>
                        </div>
                      </vs-col>
                    </vs-row>
                    <div class="mt-8">
                      <div class="uk-text-center">
                        <h2>Enfant(s)</h2>
                      </div>
                      <vs-row vs-w="12">
                        <vs-col
                          class="pr-4 mt-2 mb-2"
                          vs-type="flex"
                          vs-justify="lef"
                          vs-align="lef"
                          vs-lg="3"
                          vs-sm="3"
                          vs-xs="12"
                        >
                          <div>
                            <div class="w-full">
                              <vs-input
                                class="inputx w-full mb-2 mt-2"
                                label="Nombre d'enfants"
                                v-model="nbrChild"
                                type="number"
                                min="0"
                                v-validate="'required'"
                                data-vv-validate-on="blur"
                              />
                            </div>
                          </div>
                        </vs-col>
                      </vs-row>
                      <vs-collapse v-if="nbrChild">
                        <vs-collapse-item
                          v-for="(currentChild, i) in children"
                          :key="i"
                          class="sfp-staff-collapse-item mb-4"
                        >
                          <div slot="header">
                            <div class="sfp-staff-collapse-filter">
                              Enfant {{ i + 1 }}
                            </div>
                          </div>
                          <div class="p-2">
                            <vs-row vs-w="12">
                              <vs-col
                                class="pr-4 mt-2"
                                vs-type="flex"
                                vs-justify="center"
                                vs-align="center"
                                vs-lg="3"
                                vs-sm="3"
                                vs-xs="12"
                              >
                                <div class="w-full">
                                  <span class="pl-2">Civilité*</span>
                                  <multiselect
                                    v-model="currentChild.civility"
                                    :options="civilityList"
                                    placeholder="--Choisir--"
                                    label="label"
                                    track-by="label"
                                    v-validate="'required'"
                                    :name="'civilité' + i"
                                    required
                                    :selectLabel="global.selectLabel"
                                    :selectedLabel="global.selectedLabel"
                                    :deselectLabel="global.deselectLabel"
                                  >
                                    <template v-slot:noOptions>
                                      <span>{{
                                        global.selectNotFoundData
                                      }}</span>
                                    </template>
                                  </multiselect>

                                  <div class="sfp-staff-error-msg">
                                    {{ errors.first("civilité" + i) }}
                                  </div>
                                </div>
                              </vs-col>
                              <vs-col
                                class="pr-4 mt-2"
                                vs-type="flex"
                                vs-justify="center"
                                vs-align="center"
                                vs-lg="3"
                                vs-sm="3"
                                vs-xs="12"
                              >
                                <div class="w-full">
                                  <vs-input
                                    class="inputx w-full mb-2 mt-2"
                                    placeholder="Entrer le nom"
                                    label="Nom*"
                                    v-model="currentChild.lastname"
                                    v-validate="'required|min:3'"
                                    data-vv-validate-on="blur"
                                    :name="'nom' + i"
                                  />
                                  <div class="sfp-staff-error-msg">
                                    {{ errors.first("nom" + i) }}
                                  </div>
                                </div>
                              </vs-col>
                              <vs-col
                                class="pr-4 mt-2 mb-2"
                                vs-type="flex"
                                vs-justify="center"
                                vs-align="center"
                                vs-lg="3"
                                vs-sm="3"
                                vs-xs="12"
                              >
                                <div class="w-full">
                                  <vs-input
                                    class="inputx w-full mb-2 mt-2"
                                    placeholder="Entrer le prénom(s)"
                                    label="Prénom(s)*"
                                    v-model="currentChild.firstname"
                                    v-validate="'required|min:3'"
                                    data-vv-validate-on="blur"
                                    :name="'prénom' + i"
                                  />
                                  <div class="sfp-staff-error-msg">
                                    {{ errors.first("prénom" + i) }}
                                  </div>
                                </div>
                              </vs-col>
                              <vs-col
                                class="pr-4 mb-2 mt-2"
                                vs-type="flex"
                                vs-justify="center"
                                vs-align="center"
                                vs-lg="3"
                                vs-sm="3"
                                vs-xs="12"
                              >
                                <div class="w-full">
                                  <vs-input
                                    type="date"
                                    class="inputx w-full"
                                    label="Date de naissance (jj/mm/aaaa)*"
                                    v-model="currentChild.birthday"
                                    v-validate="'required'"
                                    data-vv-validate-on="blur"
                                    :name="'date de naissance' + i"
                                  />
                                  <div class="sfp-staff-error-msg">
                                    {{ errors.first("date de naissance" + i) }}
                                  </div>
                                </div>
                              </vs-col>
                            </vs-row>
                            <vs-row vs-w="12">
                              <vs-col
                                class="pr-4 mt-2 mb-2"
                                vs-type="flex"
                                vs-justify="center"
                                vs-align="center"
                                vs-lg="3"
                                vs-sm="3"
                                vs-xs="12"
                              >
                                <div class="w-full">
                                  <vs-input
                                    class="inputx w-full mb-2 mt-2"
                                    placeholder="Entrer le lieu de naissance"
                                    label="Lieu de naissance*"
                                    v-model="currentChild.placeOfBithday"
                                    v-validate="'required|min:3'"
                                    data-vv-validate-on="blur"
                                    :name="'lieu de naissance' + i"
                                  />
                                  <div class="sfp-staff-error-msg">
                                    {{ errors.first("lieu de naissance" + i) }}
                                  </div>
                                </div>
                              </vs-col>
                              <vs-col
                                class="pr-4 mt-2 mb-2"
                                vs-type="flex"
                                vs-justify="center"
                                vs-align="center"
                                vs-lg="3"
                                vs-sm="3"
                                vs-xs="12"
                              >
                                <div class="w-full">
                                  <vs-input
                                    class="inputx w-full mb-2 mt-2"
                                    placeholder="Entrer la nationalité"
                                    label="Nationalité*"
                                    v-model="currentChild.nationality"
                                    v-validate="'required|min:3'"
                                    data-vv-validate-on="blur"
                                    :name="'nationalité' + i"
                                  />
                                  <div class="sfp-staff-error-msg">
                                    {{ errors.first("nationalité" + i) }}
                                  </div>
                                </div>
                              </vs-col>
                            </vs-row>
                            <div class="uk-text-right">
                              <vs-button
                                class="w-full sm:w-auto mt-4"
                                style="background: #ea5455 !important"
                                @click="childRemove(i)"
                              >
                                Supprimer
                              </vs-button>
                            </div>
                          </div>
                        </vs-collapse-item>
                      </vs-collapse>
                    </div>
                  </div>
                </div>
                <div class="mt-8">
                  <div class="inline-flex">
                    <div>
                      <vs-button
                        class="w-full sm:w-auto mr-4"
                        :disabled="
                          !validateFormUpdateWorker || loadingUpdateWorker
                        "
                        @click="fetchApplyUpdateWorker"
                        >Valider</vs-button
                      >
                      <vs-button
                        class="w-full sm:w-auto sfp-staff-form-btn-buttom"
                        type="border"
                        @click="popupUpdateWorkerActive = false"
                        >Annuler</vs-button
                      >
                    </div>
                    <div class="ml-2">
                      <clip-loader
                        :loading="loadingUpdateWorker"
                        color="primary"
                      ></clip-loader>
                    </div>
                  </div>
                  <div class="mt-6">
                    <p class="text-danger">* Champ obligatoire</p>
                  </div>
                </div>
              </div>
            </vs-popup>
          </div>
        </div>
      </div>
    </vx-card>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import { en, fr } from "vuejs-datepicker/dist/locale";
import role from "@/config/role";
import ClipLoader from "vue-spinner/src/ClipLoader.vue";
import vSelect from "vue-select";
import { mixin } from "@/mixins/mixin";
import { saveAs } from "file-saver";
import global from "@/config/global";
import Multiselect from "vue-multiselect";

export default {
  components: {
    ClipLoader,
    Multiselect,
    vSelect,
  },
  data() {
    return {
      startDate: "",
      endDate: "",
      isResetFilter: false,
      crrItem: {},
      global: {},
      role: {},
      civilityList: [
        { id: "Monsieur", label: "Monsieur" },
        { id: "Madame", label: "Madame" },
        { id: "Mademoiselle", label: "Mademoiselle" },
      ],
      identityList: [
        { id: "CNI", label: "CNI" },
        { id: "Passeport", label: "Passeport" },
      ],
      companiesList: [],
      nbrChild: 0,
      children: [],
      form: {
        firstname: "",
        lastname: "",
        birthday: "",
        placeOfBithday: "",
        adress: "",
        email: "",
        phone: "",
        nationality: "",
        cnss: "",
        languages: "",
        civility: "",
        company: "",
        identity: {
          id: "",
          numIdentity: "",
        },
        children: [],
      },
      formUpdated: {
        firstname: "",
        lastname: "",
        birthday: "",
        placeOfBithday: "",
        adress: "",
        email: "",
        phone: "",
        nationality: "",
        cnss: "",
        languages: "",
        civility: "",
        company: "",
        identity: {
          id: "",
          numIdentity: "",
        },
        children: [],
      },
      //Pagination
      limit: 1,
      skip: 0,
      currentPage: 1,
      total: 0,
      allPages: 1,
      //Pagination
      loading: false,
      loadingUpdateWorker: false,
      loadingAddWorker: false,
      loadingRemoveWorker: false,
      error: false,
      errorMsg: "",
      crrID: "",
      woIsAction: "",
      //export section
      fileName: "",
      formats: ["xlsx", "csv", "txt", "pdf"],
      cellAutoWidth: true,
      selectedFormat: "xlsx",
      headerTitle: [
        "N°",
        "Nom",
        "Prénom(s)",
        "Filiale",
        "Enfant(s)",
        "CNSS",
        "Téléphone",
        "Email",
      ],
      headerVal: [
        "index",
        "firstname",
        "lastname",
        "company",
        "children",
        "cnss",
        "phone",
        "email",
      ],
      activePrompt: false,
      //end export section
      popupAddWorkerActive: false,
      popupUpdateWorkerActive: false,
      workerSelected: [],
      crrIDs: [],
    };
  },
  created() {
    this.global = global;
    this.role = role;
    Validator.localize("fr", VeeValidateFR);
  },
  mounted() {
    this.limit = this.rowsTable[1];
    this.fetchApplyGetAllCompany({
      limit: "Tout",
      skip: 0,
    });
    this.nbrChild = 1;
  },
  computed: {
    ...mapGetters("auth", ["user", "userId"]),
    ...mapGetters("worker", ["allWorkers"]),
    ...mapGetters("general", ["rowsTable"]),
    ...mapGetters("company", ["allCompanies"]),
    validateFormAddWorker() {
      return (
        !this.errors.any() &&
        this.form.firstname != "" &&
        this.form.lastname != "" &&
        this.form.birthday != "" &&
        this.form.placeOfBithday != "" &&
        this.form.adress != "" &&
        this.form.email != "" &&
        this.form.phone != "" &&
        this.form.nationality != "" &&
        this.form.cnss != "" &&
        this.form.languages != "" &&
        this.form.civility.id != "" &&
        this.form.company.id != "" &&
        this.form.identity.id != "" &&
        this.form.identity.numIdentity != "" &&
        this.form.children.every((child) => child.isValid === true)
      );
    },
    validateFormUpdateWorker() {
      return (
        !this.errors.any() &&
        this.formUpdated.firstname != "" &&
        this.formUpdated.lastname != "" &&
        this.formUpdated.birthday != "" &&
        this.formUpdated.placeOfBithday != "" &&
        this.formUpdated.adress != "" &&
        this.formUpdated.email != "" &&
        this.formUpdated.phone != "" &&
        this.formUpdated.nationality != "" &&
        this.formUpdated.cnss != "" &&
        this.formUpdated.languages != "" &&
        this.formUpdated.civility.id != "" &&
        this.formUpdated.company.id != "" &&
        this.formUpdated.identity.id != "" &&
        this.formUpdated.identity.numIdentity != "" &&
        this.formUpdated.children.every((child) => child.isValid === true)
      );
    },
  },
  methods: {
    ...mapActions("auth", ["logout"]),
    ...mapActions("company", ["applyGetAllCompany"]),
    ...mapActions("worker", [
      "applyGetWorker",
      "applyGetAllWorker",
      "applyAddWorker",
      "applyPutWorker",
      "applyRemoveWorker",
    ]),
    exportToData() {
      if (this.selectedFormat == "pdf") {
        let tableToPrintPdf = [];

        this.allWorkers.list.forEach((el, index) => {
          let jsonTmp = {
            index: index + 1,
            firstname: el.firstname,
            lastname: el.lastname,
            company: el.company.name,
            children: el.children.length,
            cnss: el.cnss,
            phone: el.phone,
            email: el.email,
          };
          tableToPrintPdf.push(jsonTmp);
        });

        let headerArray = [];

        this.headerTitle.forEach((title, index) => {
          headerArray.push({ header: title, dataKey: this.headerVal[index] });
        });
        mixin.methods.exportToPdf(
          [...tableToPrintPdf],
          headerArray,
          this.fileName,
          "LES EMPLOYE(E)S"
        );
      } else {
        let tableToPrint = [];
        this.allWorkers.list.forEach((el, index) => {
          let jsonTmp = {
            firstname: el.firstname,
            lastname: el.lastname,
            company: el.company.name,
            children: el.children.length,
            cnss: el.cnss,
            phone: el.phone,
            email: el.email,
          };
          tableToPrint.push(jsonTmp);
        });

        let headerValTmp = [
          "index",
          "firstname",
          "lastname",
          "company",
          "children",
          "cnss",
          "phone",
          "email",
        ];

        let headerTitleTmp = [
          "N°",
          "Nom",
          "Prénom(s)",
          "Filiale",
          "Enfant(s)",
          "CNSS",
          "Téléphone",
          "Email",
        ];

        mixin.methods.exportToData(
          tableToPrint,
          headerTitleTmp,
          headerValTmp,
          this.fileName,
          this.cellAutoWidth,
          this.selectedFormat
        );
      }
      this.clearFields();
    },
    clearFields() {
      (this.filename = ""),
        (this.cellAutoWidth = true),
        (this.selectedFormat = "xlsx");
    },
    checkUserRole(pack) {
      return role[this.user.type][pack];
    },
    dateElement(data) {
      return mixin.methods.dateElement(data);
    },
    aboutElement(data) {
      return mixin.methods.aboutElement(data);
    },
    subString(data) {
      if (data != undefined && data.length > 30) {
        return `${data.substring(0, 30)} ...`;
      } else {
        return data;
      }
    },
    acceptAlert(data) {
      let newdata = { ...data };
      this.$vs.notify(newdata);
    },
    acceptAlert2(color, title, text) {
      this.$vs.notify({
        color,
        title,
        text,
      });
    },
    childRemove(i) {
      this.children.splice(i, 1);
      this.nbrChild -= 1;
    },
    async fetchApplyGetAllCompany(data) {
      this.loading = true;
      this.companiesList = [];
      try {
        await this.applyGetAllCompany(data);

        if (this.allCompanies.total !== 0) {
          this.allCompanies.list.forEach((el) => {
            this.companiesList.push({ id: el.id, label: el.name });
          });
        }
        this.loading = false;
      } catch (err) {
        this.loading = false;
      }
    },
    resetFilter() {
      this.isResetFilter = true;
      this.startDate = "";
      this.endDate = "";
      this.isResetFilter = false;

      this.fetchApplyGetAllWorker({
        limit: this.limit,
        skip: this.skip,
        startDate: this.startDate ? this.startDate : "",
        endDate: this.endDate ? this.endDate : "",
      });
    },
    async fetchApplyGetAllWorker(data) {
      this.loading = true;

      try {
        await this.applyGetAllWorker(data);

        this.total = this.allWorkers.total;
        let p;

        if (this.limit == "Tout") {
          p = Math.ceil(this.total / this.total);
        } else {
          p = Math.ceil(this.total / this.limit);
        }

        this.allPages = p ? p : 1;

        this.loading = false;
        this.error = false;
        this.errorMsg = "";
      } catch (err) {
        this.loading = false;
        this.error = true;
        this.errorMsg = "";

        if (err.response) {
          if (
            err.response.status &&
            err.response.statusText === "Unauthorized"
          ) {
            this.acceptAlert2(
              "danger",
              "Authentification",
              "Votre session a expirée"
            );
            await this.logout();
            this.$router.push({ name: "Login" });
          } else {
            err.response.data.errors.forEach((item) => {
              switch (item.code) {
                default:
                  this.acceptAlert2(
                    "danger",
                    "Employé(e)",
                    "Une erreur s'est produite"
                  );
                  break;
              }
            });
          }
        }
      }
    },
    checkRemoveMultipleWorker() {
      this.workerSelected.forEach((element) => {
        this.crrIDs.push(element.id);
      });
      this.$vs.dialog({
        type: "confirm",
        color: "danger",
        title: `Confirmation`,
        text: `Voulez-vous vraiment supprimer les éléments sélectionnés ?`,
        acceptText: "Confirmer",
        cancelText: "Annuler",
        accept: this.fetchRemoveMultipleWorker,
      });
    },
    async fetchRemoveMultipleWorker() {
      let data = {
        ids: this.crrIDs,
      };

      this.loading = true;
      try {
        await this.applyRemoveWorker(data);
        this.loading = false;
        this.acceptAlert(
          mixin.methods.message("worker", "multipleDeletion").success
        );

        this.crrIDs = [];
        this.workerSelected = [];
      } catch (err) {
        this.loading = false;
        this.crrIDs = [];
        this.workerSelected = [];

        this.error = true;
        this.errorMsg = "";

        if (err.response) {
          if (
            err.response.status &&
            err.response.statusText === "Unauthorized"
          ) {
            this.acceptAlert2(
              "danger",
              "Authentification",
              "Votre session a expirée"
            );
            await this.logout();
            this.$router.push({ name: "Login" });
          } else {
            err.response.data.errors.forEach((item) => {
              switch (item.code) {
                case "workerNotFound":
                  this.errorMsg = "Votre employé n'existe pas";
                  this.acceptAlert2(
                    "danger",
                    "Suppression",
                    "Employé n'existe pas"
                  );
                  break;

                default:
                  this.acceptAlert(
                    mixin.methods.message("worker", "multipleDeletion").error
                  );
                  break;
              }
            });
          }
        }
      }
    },
    checkRemoveWorker(worker) {
      this.crrID = worker.id;
      this.$vs.dialog({
        type: "confirm",
        color: "danger",
        title: `Confirmation`,
        text: `Voulez-vous vraiment supprimer ${worker.name} ?`,
        acceptText: "Confirmer",
        cancelText: "Annuler",
        accept: this.fetchApplyRemoveWorker,
      });
    },
    async fetchApplyRemoveWorker() {
      this.woIsAction = this.crrID;
      let data = {
        ids: [this.crrID],
      };
      this.loadingRemoveWorker = true;
      try {
        await this.applyRemoveWorker(data);
        this.loadingRemoveWorker = false;
        this.acceptAlert(mixin.methods.message("worker", "delete").success);
        this.woIsAction = "";
        this.workerSelected = [];
      } catch (err) {
        this.loadingRemoveWorker = false;
        this.woIsAction = "";
        this.workerSelected = [];
        this.error = true;
        this.errorMsg = "";

        if (err.response) {
          if (
            err.response.status &&
            err.response.statusText === "Unauthorized"
          ) {
            this.acceptAlert2(
              "danger",
              "Authentification",
              "Votre session a expirée"
            );
            await this.logout();
            this.$router.push({ name: "Login" });
          } else {
            err.response.data.errors.forEach((item) => {
              switch (item.code) {
                case "workerNotFound":
                  this.errorMsg = "Votre employé n'existe pas";
                  this.acceptAlert2(
                    "danger",
                    "Suppression",
                    "Employé n'existe pas"
                  );
                  break;

                default:
                  this.acceptAlert(
                    mixin.methods.message("worker", "delete").error
                  );
                  break;
              }
            });
          }
        }
      }
    },
    checkUpdateWorker(item) {
      this.crrID = item.id;

      let civility = this.civilityList.find((el) => el.id == item.civility);
      let company = this.companiesList.find((el) => el.id == item.company.id);
      let identityID = this.identityList.find(
        (el) => el.id == item.identity.id
      );
      this.nbrChild = item.children.length
      this.children = []

      item.children.forEach((el) => {
        let x = { ...el }
        x.civility = this.civilityList.find((y) => y.id == x.civility)
        this.children.push(x);
      })

      this.formUpdated = {
        ...item,
        civility,
        company,
        identity: { ...item.identity, id: identityID },
      };

      this.popupUpdateWorkerActive = true;
    },
    async fetchApplyUpdateWorker() {
      if (!this.validateFormUpdateWorker) return false;

      let data = {
        workerId: this.crrID,
        ...this.formUpdated,
        civility: this.formUpdated.civility ? this.formUpdated.civility.id : "",
        company: this.formUpdated.company ? this.formUpdated.company.id : "",
        identity: this.formUpdated.identity
          ? {
              ...this.formUpdated.identity,
              id: this.formUpdated.identity.id.id,
            }
          : "",
      };
      this.loadingUpdateWorker = true;

      try {
        await this.applyPutWorker(data);

        this.acceptAlert(mixin.methods.message("worker", "update").success);

        this.formUpdated = {
          firstname: "",
          lastname: "",
          birthday: "",
          placeOfBithday: "",
          adress: "",
          email: "",
          phone: "",
          nationality: "",
          cnss: "",
          languages: "",
          civility: "",
          company: "",
          identity: {
            id: "",
            numIdentity: "",
          },
          children: [],
        };
        this.children = []
        this.nbrChild = 0
        this.crrID = ""
        
        this.loadingUpdateWorker = false;
        this.popupUpdateWorkerActive = false;
      } catch (err) {
        this.loadingUpdateWorker = false;
        this.error = true;
        this.errorMsg = "";

        if (err.response) {
          if (
            err.response.status &&
            err.response.statusText === "Unauthorized"
          ) {
            this.acceptAlert2(
              "danger",
              "Authentification",
              "Votre session a expirée"
            );
            this.popupUpdateWorkerActive = false;
            await this.logout();
            this.$router.push({ name: "Login" });
          } else {
            err.response.data.errors.forEach((item) => {
              switch (item.code) {
                case "workerNotFound":
                  this.errorMsg = "Votre employé n'existe pas";
                  this.acceptAlert2(
                    "danger",
                    "Suppression",
                    "Employé n'existe pas"
                  );
                  break;

                default:
                  this.acceptAlert(
                    mixin.methods.message("worker", "delete").error
                  );
                  break;
              }
            });
          }
        }
      }
    },
    async fetchApplyAddWorker() {
      if (!this.validateFormAddWorker) return false;
      this.loadingAddWorker = true;

      let data = {
        ...this.form,
        company: this.form.company ? this.form.company.id : "",
        civility: this.form.civility ? this.form.civility.id : "",
        identity: this.form.identity
          ? { ...this.form.identity, id: this.form.identity.id.id }
          : "",
      };

      try {
        await this.applyAddWorker(data);
        this.loadingAddWorker = false;
        this.acceptAlert(mixin.methods.message("worker", "add").success);

        this.form = {
          firstname: "",
          lastname: "",
          birthday: "",
          placeOfBithday: "",
          adress: "",
          email: "",
          phone: "",
          nationality: "",
          cnss: "",
          languages: "",
          civility: "",
          company: "",
          identity: {
            id: "",
            numIdentity: "",
          },
          children: [],
        };
        this.children = []
        this.nbrChild = 0

        this.popupAddWorkerActive = false;
      } catch (err) {
        this.loadingAddWorker = false;
        this.error = true;
        this.errorMsg = "";

        if (err.response) {
          if (
            err.response.status &&
            err.response.statusText === "Unauthorized"
          ) {
            this.acceptAlert2(
              "danger",
              "Authentification",
              "Votre session a expirée"
            );
            this.popupAddWorkerActive = false;
            await this.logout();
            this.$router.push({ name: "Login" });
          } else {
            err.response.data.errors.forEach((item) => {
              this.acceptAlert(mixin.methods.message("worker", "add").error);
            });
          }
        }
      }
    },
  },
  watch: {
    startDate() {
      if (!this.isResetFilter) {
        this.fetchApplyGetAllWorker({
          limit: this.limit,
          skip: this.skip,
          startDate: this.startDate ? this.startDate : "",
          endDate: this.endDate ? this.endDate : "",
        });
      }
    },
    endDate() {
      if (!this.isResetFilter) {
        this.fetchApplyGetAllWorker({
          limit: this.limit,
          skip: this.skip,
          startDate: this.startDate ? this.startDate : "",
          endDate: this.endDate ? this.endDate : "",
        });
      }
    },
    currentPage() {
      this.skip = (this.currentPage - 1) * this.limit;

      this.fetchApplyGetAllWorker({
        limit: this.limit,
        skip: this.skip,
        startDate: this.startDate ? this.startDate : "",
        endDate: this.endDate ? this.endDate : "",
      });
    },
    limit() {
      this.skip = 0;

      this.fetchApplyGetAllWorker({
        limit: this.limit,
        skip: this.skip,
        startDate: this.startDate ? this.startDate : "",
        endDate: this.endDate ? this.endDate : "",
      });
    },
    nbrChild() {
      if (this.nbrChild !== this.children.length) {
        if (this.nbrChild > this.children.length) {
          let res = this.nbrChild - this.children.length;

          let n = 0;

          while (n < res) {
            let y = {
              isValid: false,
              civility: "",
              firstname: "",
              lastname: "",
              birthday: "",
              placeOfBithday: "",
              nationality: "",
            };

            this.children.push(y);
            n++;
          }
        }
        if (this.nbrChild < this.children.length) {
          let res = this.children.length - this.nbrChild;
          let j = 0;

          while (j < res) {
            this.children.splice(-1, 1);
            j++;
          }
        }
      }
    },
    children: {
      handler() {
        let newChildrenValid = [];

        this.children.forEach((el) => {
          let item = { ...el };
          if (mixin.methods.childFieldProvide(item)) {
            item.isValid = true;
          } else {
            item.isValid = false;
          }
          newChildrenValid.push(item);
        })

        if(this.crrID) {
          this.formUpdated = {
            ...this.formUpdated,
            children: newChildrenValid,
          }
        } else {
          this.form = {
            ...this.form,
            children: newChildrenValid,
          }
        }
      },
      deep: true,
    },
  },
};
</script>

<style lang="scss">
.con-pagination-table {
  display: none;
}
.sfp-staff-icon-clickable {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
</style>