/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
/*NOTE: 'preflight' IS RENAMED TO 'base'*/
/*@tailwind base;*/

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
 @tailwind components;

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
 a {
    text-decoration: none!important;
}
address, dl, fieldset, figure, ol, p, pre, ul {
    margin: 0 0 0px 0;
}
svg {
    max-width: none;
}
/* Désactiver le bouton de date au niveau des input type date */
.sfp-staff-disable-input-date input::-webkit-calendar-picker-indicator{
    /*display: none!important;*/
}
.sfp-staff-disable-input-date input[type="date"]::-webkit-input-placeholder{
    /*visibility: hidden !important;*/
}
/* largeur de la colonne des icons et position du text options */
.sfp-staff-col-name .vs-table-text{
    justify-content: center
}
.sfp-staff-col-w {
    width: 15%;
}
.uk-pagination>.uk-active>* {
    color: black;
    font-weight: 900;
}
.uk-button {
    text-transform: none!important;
}
.sfp-staff-upload-file {
    cursor: default!important;
    background: #ffffff!important;
}
.sfp-staff-upload-file:hover button {
    background: #dfdfdf!important;
    border-radius: 6px;
}
.sfp-staff-collapse-item.open-item > .vs-collapse-item--content {
    overflow: initial;
}
.vs-collapse, .vs-collapse-item--header {
    padding: 0px!important;
}
.sfp-staff-error-msg {
   /* position: fixed;
   height: 10px;*/
    font-size :12px;
    color : red
}
.main-vertical .vx-navbar-wrapper {
    z-index: 10000;
  }
  .multiselect__option--highlight {
    background: #034A87!important;
}