<template>
  <div>
    <div class="pt-5 pb-5 justify-center">
      <div class="pb-3">
        <div slot="no-body" class="">
          <h1 class="center text-center">
            Bienvenue {{ user.person.firstname }} {{ user.person.lastname }} !
          </h1>
        </div>
      </div>
    </div>

    <div v-if="loadingStatCard">
      <div class="ml-2">
        <clip-loader :loading="loadingStatCard" color="primary"></clip-loader>
      </div>
    </div>
    <div v-else>
      <div class="pb-5">
        <vs-row vs-w="12" vs-align="center">
          <vs-col
            class="p-2"
            vs-lg="4"
            vs-md="4"
            vs-sm="6"
            :key="stat.label"
            v-for="stat in statistics"
          >
            <statistics-card-line
              hideChart
              icon="BarChart2Icon"
              icon-right
              :statistic="stat.value"
              :statisticTitle="stat.label"
            />
          </vs-col>
        </vs-row>
      </div>
    </div>
  </div>
</template> 

<script>
import { mapActions, mapGetters } from "vuex";
import ClipLoader from "vue-spinner/src/ClipLoader.vue";
import StatisticsCardLine from "@/components/statistics-cards/StatisticsCardLine.vue";

export default {
  components: {
    StatisticsCardLine,
    ClipLoader,
  },
  data() {
    return {
      loadingStatCard: false,
      statistics: [],
      error: false,
    };
  },
  computed: {
    ...mapGetters("auth", ["user"]),
  },
  mounted() {
    this.getStats()
  },
  methods: {
    ...mapActions("suscribe", [
      "applyAddSimulation" // temporaire
    ]),
    ...mapActions("general", ["applyStatsGeneral"]),
    async getStats() {
      this.loadingStatCard = true
      try {
        this.statistics = await this.applyStatsGeneral()

        this.loadingStatCard = false
        this.error = false
      } catch (err) {
        this.loadingStatCard = false;
        this.error = true;
      }
    },
  },
};
</script>

<style>
.sfp-staff-home-desc {
  font-size: large;
  margin-left: 10vw;
  margin-right: 10vw;
}
</style>
