<template>
  <div>
    <vx-card title="Les filiales" class="mb-4">
      <div slot="no-body">
        <div>
            <div class="p-8 pb-2">
                <vs-collapse>
                    <vs-collapse-item class="sfp-staff-collapse-item">
                        <div slot="header">
                        <div class="sfp-staff-collapse-filter">Filtrage</div>
                        </div>
                        <div class="p-2">
                        <vs-row vs-w="12" vs-align="center">
                            <vs-col
                            class="pr-2"
                            vs-type="flex"
                            vs-justify="center"
                            vs-align="center"
                            vs-lg="6"
                            vs-sm="6"
                            vs-xs="12"
                            >
                            <span class="pl-1 pr-1">Du</span>
                            <div
                                class="inputx w-full flex justify-around"
                                style="align-items: center;"
                            >
                                <vs-input
                                v-model="startDate"
                                type="date"
                                class="sfp-staff-disable-input-date inputx w-full mb-2 mt-2"
                                />
                            </div>
                            </vs-col>
                            <vs-col
                            class="pr-2"
                            vs-type="flex"
                            vs-justify="center"
                            vs-align="center"
                            vs-lg="6"
                            vs-sm="6"
                            vs-xs="12"
                            >
                            <span class="pl-1 pr-1">au </span>
                            <div
                                class="inputx w-full flex justify-around "
                                style="align-items: center;"
                            >
                                <vs-input
                                type="date"
                                v-model="endDate"
                                :min="startDate"
                                class="sfp-staff-disable-input-date inputx w-full mb-2 mt-2"
                                />
                            </div>
                            </vs-col>
                        </vs-row>
                        <vs-row vs-w="12" vs-align="center" vs-justify="center">
                            <vs-col
                            class="pt-4 pb-2"
                            vs-type="flex"
                            vs-align="center"
                            vs-justify="center"
                            vs-lg="4"
                            vs-sm="4"
                            vs-xs="12"
                            >
                            <vs-button @click="resetFilter">
                                Réinitialiser
                            </vs-button>
                            </vs-col>
                        </vs-row>
                        </div>
                    </vs-collapse-item>
                </vs-collapse>
            </div>
          <div class="sfp-staff-content">
            <div>
              <vs-prompt
                title="Exportation"
                class="export-options"
                @cancel="clearFields"
                @accept="exportToData"
                accept-text="Valider"
                cancel-text="Annuler"
                @close="clearFields"
                :active.sync="activePrompt"
              >
                <vs-input
                  v-model="fileName"
                  placeholder="Entrez le nom du fichier..."
                  class="w-full"
                />
                <multiselect
                  v-model="selectedFormat"
                  :options="formats"
                  class="my-4"
                  placeholder="--Choisir--"
                  :selectLabel="global.selectLabel"
                  :selectedLabel="global.selectedLabel"
                  :deselectLabel="global.deselectLabel"
                >
                  <template v-slot:noOptions>
                    <span>{{ global.selectNotFoundData }}</span>
                  </template>
                </multiselect>

                <div class="flex">
                  <span class="mr-4">Largeur automatique de cellule:</span>
                  <vs-switch v-model="cellAutoWidth"
                    >Largeur automatique de cellule</vs-switch
                  >
                </div>
              </vs-prompt>
              <div
                class="flex flex-wrap data-list-btn-container mt-4 sfp-staff-btn-action-grp"
              > 
                <div class="sfp-staff-btn-action">
                  <vs-button
                    v-if="user.person.userAcces ? user.person.userAcces.chk_company_create : true"
                    @click="popupAddCompanyActive = true"
                    color="primary"
                    type="filled"
                    icon-pack="feather"
                    icon="icon-plus"
                    >Ajouter</vs-button
                  >
                  <vx-tooltip
                    color="primary"
                    :title="role.notAllowTitle"
                    :text="role.notAllowText"
                    v-else
                  >
                    <vs-button
                      :disabled="true"
                      color="primary"
                      type="filled"
                      icon-pack="feather"
                      icon="icon-plus"
                      >Ajouter</vs-button
                    >
                  </vx-tooltip>
                </div>
                <div class="sfp-staff-btn-action">
                  <vs-dropdown
                    vs-trigger-click
                    class="dd-actions cursor-pointer ml-4"
                  >
                    <div
                      class="p-3 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full"
                    >
                      <span class="mr-2">Actions</span>
                      <feather-icon
                        icon="ChevronDownIcon"
                        svgClasses="h-4 w-4"
                      />
                    </div>
                    <vs-dropdown-menu>
                      <vs-dropdown-item @click="activePrompt = true">
                        <span class="flex items-center">
                          <feather-icon
                            icon="PrinterIcon"
                            svgClasses="h-4 w-4"
                            class="mr-2"
                          />
                          <span>Exporter</span>
                        </span>
                      </vs-dropdown-item>
                      <vs-dropdown-item
                        v-if="user.person.userAcces ? user.person.userAcces.chk_company_delete : true"
                        :disabled="companySelected.length == 0"
                        @click="checkRemoveMultipleCompany"
                      >
                        <span class="flex items-center">
                          <feather-icon
                            icon="Trash2Icon"
                            svgClasses="h-4 w-4"
                            class="mr-2"
                          />
                          <span>Supprimer la sélection</span>
                        </span>
                      </vs-dropdown-item>
                      <vx-tooltip
                        color="primary"
                        :title="role.notAllowTitle"
                        :text="role.notAllowText"
                        v-else
                      >
                        <vs-dropdown-item :disabled="true">
                          <span class="flex items-center">
                            <feather-icon
                              icon="Trash2Icon"
                              svgClasses="h-4 w-4"
                              class="mr-2"
                            />
                            <span>Supprimer la sélection</span>
                          </span>
                        </vs-dropdown-item>
                      </vx-tooltip>
                    </vs-dropdown-menu>
                  </vs-dropdown>
                </div>
                <div class="ml-4 sfp-staff-btn-action">
                  <div>
                    <vs-dropdown
                      vs-trigger-click
                      class="dd-actions cursor-pointer"
                    >
                      <div
                        class="p-3 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full"
                      >
                        <span class="mr-2">Afficher {{ limit }}</span>
                        <feather-icon
                          icon="ChevronDownIcon"
                          svgClasses="h-4 w-4"
                        />
                      </div>
                      <vs-dropdown-menu>
                        <vs-dropdown-item
                          :key="i"
                          v-for="(r, i) in rowsTable"
                          @click="limit = r"
                        >
                          <span class="flex items-center">
                            <span>{{ r }}</span>
                          </span>
                        </vs-dropdown-item>
                      </vs-dropdown-menu>
                    </vs-dropdown>
                  </div>
                </div>
              </div>
              <div class>
                <div class="w-auto" v-if="loading">
                  <clip-loader :loading="loading" color="primary"></clip-loader>
                </div>
                <div v-else>
                  <div v-if="allCompanies.list.length !== 0">
                    <vs-table
                      multiple
                      :data="allCompanies.list"
                      v-model="companySelected"
                      search
                      stripe
                      pagination
                      :max-items="limit == 'Tout' ? total : limit"
                      noDataText="Aucun résultat trouvé"
                    >
                      <template slot="thead">
                        <vs-th>N°</vs-th>
                        <vs-th sort-key="name">Nom</vs-th>
                        <vs-th sort-key="phone">Téléphone</vs-th>
                        <vs-th sort-key="addres">Adresse</vs-th>
                        <vs-th>Actions</vs-th>
                      </template>
                      <template slot-scope="{ data }">
                        <vs-tr
                          :data="tr"
                          :key="indextr"
                          v-for="(tr, indextr) in data"
                        >
                          <vs-td :data="data[indextr].id">{{
                            indextr + 1
                          }}</vs-td>
                          <vs-td :data="data[indextr].name">{{
                            data[indextr].name
                          }}</vs-td>
                          <vs-td :data="data[indextr].phone">{{
                            data[indextr].phone
                          }}</vs-td>
                          <vs-td :data="data[indextr].addres">{{
                            data[indextr].addres
                          }}</vs-td>
                          <vs-td :data="data[indextr].id">
                            <div class="inline-flex" @click.stop>
                              <vs-dropdown
                                class="dd-actions cursor-pointer ml-6"
                                vs-trigger-click
                              >
                                <div class="cursor-pointer">
                                  <feather-icon
                                    icon="AlignJustifyIcon"
                                    svgClasses="w-6 h-6"
                                  ></feather-icon>
                                </div>
                                <vs-dropdown-menu class="sfp-staff-dropdown">
                                  <div>
                                    <vs-dropdown-item
                                      v-if="user.person.userAcces ? user.person.userAcces.chk_company_update : true"
                                    >
                                      <div
                                        class="ml-1 cursor-pointer"
                                        @click="
                                          checkUpdateCompany(data[indextr])
                                        "
                                      >
                                        <span class="flex items-center">
                                          <feather-icon
                                            class="text-primary"
                                            icon="Edit2Icon"
                                            svgClasses="w-6 h-6"
                                          ></feather-icon>
                                          <span class="m-3">Modifier</span>
                                        </span>
                                      </div>
                                    </vs-dropdown-item>
                                    <vx-tooltip
                                      v-else
                                      color="primary"
                                      :title="role.notAllowTitle"
                                      :text="role.notAllowText"
                                    >
                                      <vs-dropdown-item disabled>
                                        <div class="ml-1 cursor-pointer">
                                          <span class="flex items-center">
                                            <feather-icon
                                              class="text-primary"
                                              icon="Edit2Icon"
                                              svgClasses="w-6 h-6"
                                            ></feather-icon>
                                            <span>Modifier</span>
                                          </span>
                                        </div>
                                      </vs-dropdown-item>
                                    </vx-tooltip>
                                  </div>

                                  <div>
                                    <vs-dropdown-item
                                      v-if="user.person.userAcces ? user.person.userAcces.chk_company_delete : true"
                                    >
                                      <div
                                        class="ml-1 cursor-pointer"
                                        @click="
                                          checkRemoveCompany(data[indextr])
                                        "
                                      >
                                        <span class="flex items-center">
                                          <feather-icon
                                            icon="Trash2Icon"
                                            class="text-primary"
                                            svgClasses="w-6 h-6"
                                          ></feather-icon>
                                          <span class="m-3">Supprimer </span>
                                        </span>
                                      </div>
                                    </vs-dropdown-item>
                                    <vx-tooltip
                                      v-else
                                      color="primary"
                                      :title="role.notAllowTitle"
                                      :text="role.notAllowText"
                                    >
                                      <vs-dropdown-item disabled>
                                        <div class="ml-1 cursor-pointer">
                                          <span class="flex items-center">
                                            <feather-icon
                                              icon="Trash2Icon"
                                              class="text-primary"
                                              svgClasses="w-6 h-6"
                                            ></feather-icon>
                                            <span class="m-3">Supprimer </span>
                                          </span>
                                        </div>
                                      </vs-dropdown-item>
                                    </vx-tooltip>
                                  </div>
                                </vs-dropdown-menu>
                              </vs-dropdown>

                              <vx-tooltip
                                position="left"
                                color="primary"
                                :title="aboutElement(data[indextr]).title"
                                :text="aboutElement(data[indextr]).text"
                              >
                                <div class="cursor-pointer ml-6">
                                  <feather-icon
                                    icon="InfoIcon"
                                    class="text-primary"
                                    svgClasses="w-6 h-6"
                                  ></feather-icon>
                                </div>
                              </vx-tooltip>

                              <div
                                class="ml-2"
                                v-show="woIsAction == data[indextr].id"
                              >
                                <clip-loader
                                  :loading="
                                    loadingRemoveCompany || loadingUpdateCompany
                                  "
                                  color="primary"
                                  size="25px"
                                ></clip-loader>
                              </div>
                            </div>
                          </vs-td>
                        </vs-tr>
                      </template>
                    </vs-table>
                    <vs-pagination
                      style="justify-content: flex-end !important"
                      class="mt-6 sfp-staff-pagination"
                      :total="allPages"
                      v-model="currentPage"
                    ></vs-pagination>
                  </div>
                  <div v-else>
                    <div class="flex items-center justify-center mt-8">
                      <strong>Aucun enregistrement</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <vs-popup
              class="holamundo"
              title="Ajouter une filiale"
              :active.sync="popupAddCompanyActive"
            >
              <div class="m-4">
                <div class="clearfix">
                  <div>
                    <vs-row vs-w="12">
                      <vs-col
                        class="pr-4 mt-2 mb-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="6"
                        vs-sm="6"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer le nom"
                            label="Nom*"
                            v-model="form.name"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="nom"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("nom") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="6"
                        vs-sm="6"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer le téléphone"
                            label="Téléphone*"
                            v-model="form.phone"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="téléphone"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("téléphone") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="6"
                        vs-sm="6"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer l'adresse"
                            label="Adresse*"
                            v-model="form.addres"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="adresse"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("adresse") }}
                          </div>
                        </div>
                      </vs-col>
                    </vs-row>
                  </div>
                </div>
                <div class="mt-8">
                  <div class="inline-flex">
                    <div>
                      <vs-button
                        class="w-full sm:w-auto mr-4"
                        :disabled="!validateFormAddCompany || loadingAddCompany"
                        @click="fetchApplyAddCompany"
                        >Valider</vs-button
                      >
                      <vs-button
                        class="w-full sm:w-auto sfp-staff-form-btn-buttom"
                        type="border"
                        @click="popupAddCompanyActive = false"
                        >Annuler</vs-button
                      >
                    </div>
                    <div class="ml-2">
                      <clip-loader
                        :loading="loadingAddCompany"
                        color="primary"
                      ></clip-loader>
                    </div>
                  </div>
                  <div class="mt-6">
                    <p class="text-danger">* Champ obligatoire</p>
                  </div>
                </div>
              </div>
            </vs-popup>

            <vs-popup
              class="holamundo"
              title="Modifier une filiale"
              :active.sync="popupUpdateCompanyActive"
            >
              <div class="m-4">
                <div class="clearfix">
                  <div>
                    <vs-row vs-w="12">
                      <vs-col
                        class="pr-4 mt-2 mb-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="6"
                        vs-sm="6"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer le nom"
                            label="Nom*"
                            v-model="formUpdated.name"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="nom"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("nom") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2 mb-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="6"
                        vs-sm="6"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer le téléphone"
                            label="Téléphone*"
                            v-model="formUpdated.phone"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="téléphone"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("téléphone") }}
                          </div>
                        </div>
                      </vs-col>
                      <vs-col
                        class="pr-4 mt-2 mb-2"
                        vs-type="flex"
                        vs-justify="center"
                        vs-align="center"
                        vs-lg="6"
                        vs-sm="6"
                        vs-xs="12"
                      >
                        <div class="w-full">
                          <vs-input
                            class="inputx w-full mb-2 mt-2"
                            placeholder="Entrer l'adresse"
                            label="Adresse*"
                            v-model="formUpdated.addres"
                            v-validate="'required|min:3'"
                            data-vv-validate-on="blur"
                            name="adresse"
                          />
                          <div class="sfp-staff-error-msg">
                            {{ errors.first("adresse") }}
                          </div>
                        </div>
                      </vs-col>
                    </vs-row>
                  </div>
                </div>
                <div class="mt-8">
                  <div class="inline-flex">
                    <div>
                      <vs-button
                        class="w-full sm:w-auto mr-4"
                        :disabled="
                          !validateFormUpdateCompany || loadingUpdateCompany
                        "
                        @click="fetchApplyUpdateCompany"
                        >Valider</vs-button
                      >
                      <vs-button
                        class="w-full sm:w-auto sfp-staff-form-btn-buttom"
                        type="border"
                        @click="popupUpdateCompanyActive = false"
                        >Annuler</vs-button
                      >
                    </div>
                    <div class="ml-2">
                      <clip-loader
                        :loading="loadingUpdateCompany"
                        color="primary"
                      ></clip-loader>
                    </div>
                  </div>
                  <div class="mt-6">
                    <p class="text-danger">* Champ obligatoire</p>
                  </div>
                </div>
              </div>
            </vs-popup>
          </div>
        </div>
      </div>
    </vx-card>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import { en, fr } from "vuejs-datepicker/dist/locale";
import role from "@/config/role";
import ClipLoader from "vue-spinner/src/ClipLoader.vue";
import vSelect from "vue-select";
import { mixin } from "@/mixins/mixin";
import { saveAs } from "file-saver";
import global from "@/config/global";
import Multiselect from "vue-multiselect";

export default {
  components: {
    ClipLoader,
    Multiselect,
    vSelect,
  },
  data() {
    return {
      startDate: "",
      endDate: "",
      isResetFilter: false,
      crrItem: {},
      global: {},
      role: {},
      form: {
        name: "",
        phone: "",
        addres: "",
      },
      formUpdated: {
        name: "",
        phone: "",
        addres: "",
      },
      //Pagination
      limit: 1,
      skip: 0,
      currentPage: 1,
      total: 0,
      allPages: 1,
      //Pagination
      loading: false,
      loadingUpdateCompany: false,
      loadingAddCompany: false,
      loadingRemoveCompany: false,
      error: false,
      errorMsg: "",
      crrID: "",
      woIsAction: "",
      //export section
      fileName: "",
      formats: ["xlsx", "csv", "txt", "pdf"],
      cellAutoWidth: true,
      selectedFormat: "xlsx",
      headerTitle: ["N°", "Nom", "Téléphone", "Adresse1"],
      headerVal: ["index", "name", "phone", "addres"],
      activePrompt: false,
      //end export section
      popupAddCompanyActive: false,
      popupUpdateCompanyActive: false,
      companySelected: [],
      crrIDs: [],
    };
  },
  created() {
    this.global = global;
    this.role = role;
    Validator.localize("fr", VeeValidateFR);
  },
  mounted() {
    this.limit = this.rowsTable[1];
  },
  computed: {
    ...mapGetters("auth", ["user", "userId"]),
    ...mapGetters("company", ["allCompanies"]),
    ...mapGetters("general", ["rowsTable"]),
    validateFormAddCompany() {
      return (
        !this.errors.any() &&
        this.form.name != "" &&
        this.form.phone != "" &&
        this.form.addres != ""
      );
    },
    validateFormUpdateCompany() {
      return (
        !this.errors.any() &&
        this.formUpdated.name != "" &&
        this.formUpdated.phone != "" &&
        this.formUpdated.addres != ""
      );
    },
  },
  methods: {
    ...mapActions("auth", ["logout"]),
    ...mapActions("company", [
      "applyGetCompany",
      "applyGetAllCompany",
      "applyAddCompany",
      "applyPutCompany",
      "applyRemoveCompany",
    ]),
    exportToData() {
      if (this.selectedFormat == "pdf") {
        let tableToPrintPdf = [];

        this.allCompanies.list.forEach((el, index) => {
          let jsonTmp = {
            index: index + 1,
            name: el.name,
            phone: el.phone,
            addres: el.addres,
          };
          tableToPrintPdf.push(jsonTmp);
        });

        let headerArray = [];

        this.headerTitle.forEach((title, index) => {
          headerArray.push({ header: title, dataKey: this.headerVal[index] });
        });
        mixin.methods.exportToPdf(
          [...tableToPrintPdf],
          headerArray,
          this.fileName,
          "LES FILIALES"
        );
      } else {
        let tableToPrint = [];
        this.allCompanies.list.forEach((el, index) => {
          let jsonTmp = {
            name: el.name,
            phone: el.phone,
            addres: el.addres,
          };
          tableToPrint.push(jsonTmp);
        });

        let headerValTmp = ["name", "phone", "addres"];

        let headerTitleTmp = ["Nom", "Téléphone", "Adresse1"];

        mixin.methods.exportToData(
          tableToPrint,
          headerTitleTmp,
          headerValTmp,
          this.fileName,
          this.cellAutoWidth,
          this.selectedFormat
        );
      }
      this.clearFields();
    },
    clearFields() {
      (this.filename = ""),
        (this.cellAutoWidth = true),
        (this.selectedFormat = "xlsx");
    },
    checkUserRole(pack) {
      return role[this.user.type][pack];
    },
    dateElement(data) {
      return mixin.methods.dateElement(data);
    },
    aboutElement(data) {
      return mixin.methods.aboutElement(data);
    },
    subString(data) {
      if (data != undefined && data.length > 30) {
        return `${data.substring(0, 30)} ...`;
      } else {
        return data;
      }
    },
    acceptAlert(data) {
      let newdata = { ...data };
      this.$vs.notify(newdata);
    },
    acceptAlert2(color, title, text) {
      this.$vs.notify({
        color,
        title,
        text,
      });
    },
    resetFilter() {
      this.isResetFilter = true;
      this.startDate = "";
      this.endDate = "";
      this.isResetFilter = false;

      this.fetchApplyGetAllCompany({
        limit: this.limit,
        skip: this.skip,
        startDate: this.startDate ? this.startDate : "",
        endDate: this.endDate ? this.endDate : "",
      });
    },
    async fetchApplyGetAllCompany(data) {
      this.loading = true;

      try {
        await this.applyGetAllCompany(data);

        this.total = this.allCompanies.total;
        let p;

        if (this.limit == "Tout") {
          p = Math.ceil(this.total / this.total);
        } else {
          p = Math.ceil(this.total / this.limit);
        }

        this.allPages = p ? p : 1;

        this.loading = false;
        this.error = false;
        this.errorMsg = "";
      } catch (err) {
        this.loading = false;
        this.error = true;
        this.errorMsg = "";

        if (err.response) {
          if (
            err.response.status &&
            err.response.statusText === "Unauthorized"
          ) {
            this.acceptAlert2(
              "danger",
              "Authentification",
              "Votre session a expirée"
            );
            await this.logout();
            this.$router.push({ name: "Login" });
          } else {
            err.response.data.errors.forEach((item) => {
              switch (item.code) {
                default:
                  this.acceptAlert2(
                    "danger",
                    "Filiales",
                    "Une erreur s'est produite"
                  );
                  break;
              }
            });
          }
        }
      }
    },
    checkRemoveMultipleCompany() {
      this.companySelected.forEach((element) => {
        this.crrIDs.push(element.id);
      });
      this.$vs.dialog({
        type: "confirm",
        color: "danger",
        title: `Confirmation`,
        text: `Voulez-vous vraiment supprimer les éléments sélectionnés ?`,
        acceptText: "Confirmer",
        cancelText: "Annuler",
        accept: this.fetchRemoveMultipleCompany,
      });
    },
    async fetchRemoveMultipleCompany() {
      let data = {
        ids: this.crrIDs,
      };

      this.loading = true;
      try {
        await this.applyRemoveCompany(data);
        this.loading = false;
        this.acceptAlert(
          mixin.methods.message("company", "multipleDeletion").success
        );

        this.crrIDs = [];
        this.companySelected = [];
      } catch (err) {
        this.loading = false;
        this.crrIDs = [];
        this.companySelected = [];

        this.error = true;
        this.errorMsg = "";

        if (err.response) {
          if (
            err.response.status &&
            err.response.statusText === "Unauthorized"
          ) {
            this.acceptAlert2(
              "danger",
              "Authentification",
              "Votre session a expirée"
            );
            await this.logout();
            this.$router.push({ name: "Login" });
          } else {
            err.response.data.errors.forEach((item) => {
              switch (item.code) {
                case "companyNotFound":
                  this.errorMsg = "Votre filiale n'existe pas";
                  this.acceptAlert2(
                    "danger",
                    "Suppression",
                    "Filiale n'existe pas"
                  );
                  break;

                default:
                  this.acceptAlert(
                    mixin.methods.message("company", "multipleDeletion").error
                  );
                  break;
              }
            });
          }
        }
      }
    },
    checkRemoveCompany(company) {
      this.crrID = company.id;
      this.$vs.dialog({
        type: "confirm",
        color: "danger",
        title: `Confirmation`,
        text: `Voulez-vous vraiment supprimer ${company.name} ?`,
        acceptText: "Confirmer",
        cancelText: "Annuler",
        accept: this.fetchApplyRemoveCompany,
      });
    },
    async fetchApplyRemoveCompany() {
      this.woIsAction = this.crrID;
      let data = {
        ids: [this.crrID],
      };
      this.loadingRemoveCompany = true;
      try {
        await this.applyRemoveCompany(data);
        this.loadingRemoveCompany = false;
        this.acceptAlert(mixin.methods.message("company", "delete").success);
        this.woIsAction = "";
        this.companySelected = [];
      } catch (err) {
        this.loadingRemoveCompany = false;
        this.woIsAction = "";
        this.companySelected = [];
        this.error = true;
        this.errorMsg = "";

        if (err.response) {
          if (
            err.response.status &&
            err.response.statusText === "Unauthorized"
          ) {
            this.acceptAlert2(
              "danger",
              "Authentification",
              "Votre session a expirée"
            );
            await this.logout();
            this.$router.push({ name: "Login" });
          } else {
            err.response.data.errors.forEach((item) => {
              switch (item.code) {
                case "companyNotFound":
                  this.errorMsg = "Votre filiale n'existe pas";
                  this.acceptAlert2(
                    "danger",
                    "Suppression",
                    "Filiale n'existe pas"
                  );
                  break;

                default:
                  this.acceptAlert(
                    mixin.methods.message("company", "delete").error
                  );
                  break;
              }
            });
          }
        }
      }
    },
    checkUpdateCompany(item) {
      this.crrID = item.id;
      this.formUpdated = { ...item };
      this.popupUpdateCompanyActive = true;
    },
    async fetchApplyUpdateCompany() {
      if (!this.validateFormUpdateCompany) return false;

      let data = {
        companyId: this.crrID,
        ...this.formUpdated,
      };
      this.loadingUpdateCompany = true;

      try {
        await this.applyPutCompany(data);

        this.acceptAlert(mixin.methods.message("company", "update").success);

        this.formUpdated = {
          name: "",
          phone: "",
          addres: "",
        };
        this.loadingUpdateCompany = false;
        this.popupUpdateCompanyActive = false;
      } catch (err) {
        this.loadingUpdateCompany = false;
        this.error = true;
        this.errorMsg = "";

        if (err.response) {
          if (
            err.response.status &&
            err.response.statusText === "Unauthorized"
          ) {
            this.acceptAlert2(
              "danger",
              "Authentification",
              "Votre session a expirée"
            );
            this.popupUpdateCompanyActive = false;
            await this.logout();
            this.$router.push({ name: "Login" });
          } else {
            err.response.data.errors.forEach((item) => {
              switch (item.code) {
                case "companyNotFound":
                  this.errorMsg = "Votre filiale n'existe pas";
                  this.acceptAlert2(
                    "danger",
                    "Suppression",
                    "Filiale n'existe pas"
                  );
                  break;

                default:
                  this.acceptAlert(
                    mixin.methods.message("company", "delete").error
                  );
                  break;
              }
            });
          }
        }
      }
    },
    async fetchApplyAddCompany() {
      if (!this.validateFormAddCompany) return false;
      this.loadingAddCompany = true;

      let data = {
        ...this.form,
      };

      try {
        await this.applyAddCompany(data);
        this.loadingAddCompany = false;
        this.acceptAlert(mixin.methods.message("company", "add").success);

        this.form = {
          name: "",
          phone: "",
          addres: "",
        };

        this.popupAddCompanyActive = false;
      } catch (err) {
        this.loadingAddCompany = false;
        this.error = true;
        this.errorMsg = "";

        if (err.response) {
          if (
            err.response.status &&
            err.response.statusText === "Unauthorized"
          ) {
            this.acceptAlert2(
              "danger",
              "Authentification",
              "Votre session a expirée"
            );
            this.popupAddCompanyActive = false;
            await this.logout();
            this.$router.push({ name: "Login" });
          } else {
            err.response.data.errors.forEach((item) => {
              this.acceptAlert(mixin.methods.message("company", "add").error);
            });
          }
        }
      }
    },
  },
  watch: {
    startDate() {
      if (!this.isResetFilter) {
        this.fetchApplyGetAllCompany({
          limit: this.limit,
          skip: this.skip,
          startDate: this.startDate ? this.startDate : "",
          endDate: this.endDate ? this.endDate : "",
        });
      }
    },
    endDate() {
      if (!this.isResetFilter) {
        this.fetchApplyGetAllCompany({
          limit: this.limit,
          skip: this.skip,
          startDate: this.startDate ? this.startDate : "",
          endDate: this.endDate ? this.endDate : "",
        });
      }
    },
    currentPage() {
      this.skip = (this.currentPage - 1) * this.limit;

      this.fetchApplyGetAllCompany({
        limit: this.limit,
        skip: this.skip,
        startDate: this.startDate ? this.startDate : "",
        endDate: this.endDate ? this.endDate : "",
      });
    },
    limit() {
      this.skip = 0;

      this.fetchApplyGetAllCompany({
        limit: this.limit,
        skip: this.skip,
        startDate: this.startDate ? this.startDate : "",
        endDate: this.endDate ? this.endDate : "",
      });
    },
  },
};
</script>

<style lang="scss">
.con-pagination-table {
  display: none;
}
.sfp-staff-icon-clickable {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
</style>